            body{background-color: #E5DADA; color: #002642;}  
            h1 {color: #002642;} 
            li {background-color: #eec43b;}    
            p {color: #02040F; text-align:justify;}   
            img {border: solid 10px #002642;}   
            a {color: #840032;}